body{
    background-color: black !important;
}

.title {
    font-size: 30px;
    line-height: 0.8;
    letter-spacing: 0.4rem;
}

.info-title{
    color: #fff;
    font-size: 17px;
    margin-left: 4%;
}

.dots{
    opacity: 0.6;
}

.path{
    opacity: 0.05;
    height: auto;
}
.path-1{
    height: auto;
    position: absolute;
    opacity: 0.02;
    right: auto;
    left: 420px;
    max-width: 10%;
    top: 420px;
}
}

.page-header{
    max-height: 2500px !important;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.topic {
    margin-left:31% !important;
    width:38% !important;
    border-bottom: solid 1px #ffffff;
    margin-top: 0px !important;
}

.protitle-1 {
    letter-spacing: 0.3rem;
    top: 0px;
    font-weight: bolder;
    left: 10%;
    margin-bottom: 0px;
    margin-left: 1%;
}

.protitle {
    letter-spacing: 0.3rem;
    top: 0px;
    font-weight: bold;
    left: 10%;
    margin-bottom: 0px;
    margin-left: 1%;
    font-size: 22px;
}

.row-1{
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row-1-start{
    margin-top: 5%;
    margin-bottom: 4%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}

.row-2{
    margin-bottom: 0.8%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.cv-img{
    width: 35%;
    height: 40%;
    margin-left: 10%;
}

.bottom-topic {
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 98%;
    border-bottom: solid 1px #ffffff;
}

p{
    margin-left: 4%;
}